@model DemoNet6.Models.LoginModel
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>Login</h3>
            <form asp-action="Index" method="post">
                @TempData["Error"]
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label>UserName</label>
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "User ID", @autofocus = "autofocus" })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    @*<input asp-for="UserName" class="form-control" />*@
                </div>
                <div class="form-group">
                    <label>Password</label>
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "Password", @type="password" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    @* <input asp-for="Password" class="form-control" />*@
                </div>
                <div class="form-group">
                    <label></label>
                    <input type="submit" class="btn btn-primary" value="Login" />
                </div>
            </form>
        </div>
    </div>
</div>