@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @{
        if (@TempData["Message"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show">

                @TempData["Message"]
            </div>
        }
    }
    <h1 class="display-4">Welcome @ViewData["MessageInfo"]</h1>
    @{
        try
        {
            int a = 0;
            int result = 10 / a;
            <p>Result: @result</p>
        }
        catch(DivideByZeroException ex)
        {
            <p>Error: @ex.Message</p>
        }
        finally
        {
            <p>This execute is compiler</p>
        }
    }
</div>